{% extends 'groups/group_base.html' %}

{% block title %}Your Groups{% endblock %}

{% block pre_group %}
<div class='pre-group'>
    {% if user.is_authenticated %}
    <a class='btn btn-primary' href="{% url 'groups:create' %}">Create New Group</a>
    {% endif %}
    <h1 class='page-title'>My Groups</h1>
</div>
{% endblock %}

{% block group_content %}

{% for group in user_group_list %}
<div class='group-list card card-body'>
    <h2 class='group-list-title'>
        <a href=" {% url 'groups:detail' slug=group.slug %}">{{ group.name }}</a>
    </h2>
    <p class='group-list-description'> {{ group.description|truncatewords:200 }}</p>
</div>
<hr>
{% endfor %}

{% endblock %}

{% block post_group %}{% endblock %}